.map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pin {
    position: absolute;
    z-index: 2;
    display: none;
}

#line {
    position: absolute;
    z-index: 3;
    height: 2px;
    background-color: black;
}

#measurements {
    margin-right: 500px;
}